#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Empty_screen {
  position: absolute;
  width: 360px;
  height: 640px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Screen-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Screen-bg {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Screen-bg > .clipping, #s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Screen-bg > .paddingLayer {
  height: 100px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Screen-bg .valign {
  vertical-align: middle;
  text-align: left;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Screen-bg span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Screen-bg span#rtr-s-Screen-bg_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Softkeys-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Softkeys-bg {
  position: absolute;
  width: 0px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Softkeys-bg > .clipping, #s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Softkeys-bg > .paddingLayer {
  height: 48px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Softkeys-bg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Softkeys-bg span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Softkeys-bg span#rtr-s-Softkeys-bg_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Header-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6BB398;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Header-bg {
  position: absolute;
  width: 0px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Header-bg > .clipping, #s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Header-bg > .paddingLayer {
  height: 38px;
  width: 27px;
  padding-top: 38px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Header-bg .valign {
  vertical-align: top;
  text-align: left;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Header-bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Header-bg span#rtr-s-Header-bg_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Title > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Title {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Title > .clipping, #s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Title > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Title .valign {
  vertical-align: middle;
  text-align: left;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Title span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Title span#rtr-s-Title_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Status-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #222222;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Status-bg {
  position: absolute;
  width: 0px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Status-bg > .clipping, #s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Status-bg > .paddingLayer {
  height: 20px;
  width: 92px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 8px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Status-bg .valign {
  vertical-align: middle;
  text-align: right;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Status-bg span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Status-bg span#rtr-s-Status-bg_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Time > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Time {
  position: absolute;
  width: 46px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Time > .clipping, #s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Time > .paddingLayer {
  height: 20px;
  width: 41px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 5px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Time .valign {
  vertical-align: middle;
  text-align: right;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Time span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Time span#rtr-s-Time_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Signal-icon {
  position: absolute;
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Signal-icon > img, #s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Signal-icon > svg {
  height: 20px;
  width: 61px;
  box-shadow: none;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Square > svg {
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Square {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Square > img, #s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Square > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Circle > svg {
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Circle {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Circle > img, #s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Circle > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Triangle > svg {
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Triangle {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Triangle > img, #s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Triangle > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Dynamic_Panel_1 {
  position: absolute;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Panel_1 {
  width: 360px;
  height: 509px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 360px;
  height: 509px;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Single-line-item_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + 0px);
  background-color: #EEEEEE;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  box-shadow: 7px 7px 5px 0px #CCCCCC;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Single-line-item_2 {
  width: 0px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Single-line-item_2 > .clipping, #s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Single-line-item_2 > .paddingLayer {
  height: 28px;
  width: 85px;
  padding-top: 10px;
  padding-bottom: 2px;
  padding-left: 15px;
  padding-right: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Single-line-item_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Single-line-item_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Single-line-item_2 span#rtr-s-Single-line-item_2_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Dynamic_Panel_4 {
  z-index: 100;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Panel_4 {
  width: 360px;
  height: 271px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Panel_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Panel_4 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 360px;
  height: 271px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_12 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_12 {
  position: absolute;
  width: 0px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_12 > .clipping, #s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_12 > .paddingLayer {
  height: 47px;
  width: 30px;
  padding-top: 12px;
  padding-bottom: 1px;
  padding-left: 70px;
  padding-right: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_12 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_12 span#rtr-s-Two-line-item_12_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_12 span#rtr-s-Two-line-item_12_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #shapewrapper-s-base_6 > .shapert-clipping {
  width: 40px;
  height: 40px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #shapewrapper-s-base_6 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
  overflow: hidden;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #shapewrapper-s-base_6 .content {
  text-shadow: none;
  width: 40px;
  height: 40px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #shapewrapper-s-base_6 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #shapewrapper-s-base_6 {
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-base_6 {
  width: 40px;
  height: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #shapewrapper-s-base_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #shapewrapper-s-base_6 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #shapewrapper-s-base_6 span#rtr-s-base_6_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_84 > svg {
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_84 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_84 > img, #s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_84 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_13 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_13 {
  position: absolute;
  width: 0px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_13 > .clipping, #s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_13 > .paddingLayer {
  height: 47px;
  width: 30px;
  padding-top: 12px;
  padding-bottom: 1px;
  padding-left: 70px;
  padding-right: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_13 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_13 span#rtr-s-Two-line-item_13_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_13 span#rtr-s-Two-line-item_13_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_14 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_14 {
  position: absolute;
  width: 0px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_14 > .clipping, #s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_14 > .paddingLayer {
  height: 47px;
  width: 30px;
  padding-top: 12px;
  padding-bottom: 1px;
  padding-left: 70px;
  padding-right: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_14 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_14 span#rtr-s-Two-line-item_14_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_14 span#rtr-s-Two-line-item_14_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_15 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_15 {
  position: absolute;
  width: 0px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_15 > .clipping, #s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_15 > .paddingLayer {
  height: 47px;
  width: 30px;
  padding-top: 12px;
  padding-bottom: 1px;
  padding-left: 70px;
  padding-right: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_15 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_15 span#rtr-s-Two-line-item_15_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_15 span#rtr-s-Two-line-item_15_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_85 > svg {
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_85 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_85 > img, #s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_85 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_86 > svg {
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_86 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_86 > img, #s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_86 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_87 > svg {
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_87 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_87 > img, #s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_87 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Panel_6 {
  width: 360px;
  height: 205px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Panel_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Panel_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Panel_6 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 360px;
  height: 205px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-button_descarga > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #434343;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  box-shadow: 0px 2px 5px 0px #999999;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-button_descarga {
  position: absolute;
  width: 213px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-button_descarga > .clipping, #s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-button_descarga > .paddingLayer {
  height: 22px;
  width: 189px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-button_descarga .valign {
  vertical-align: middle;
  text-align: center;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-button_descarga span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-button_descarga span#rtr-s-button_descarga_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_36 > svg {
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_36 {
  position: absolute;
  width: 30px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_36 > img, #s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_36 > svg {
  height: 29px;
  width: 30px;
  box-shadow: none;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Text_2 {
  position: absolute;
  width: 211px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 13.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Text_2 > .clipping, #s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Text_2 > .paddingLayer {
  height: 23px;
  width: 211px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Text_2 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}