#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Header-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Status-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Signal-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Single-line-item_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-base_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-button_descarga {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}