#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Header-bg {
  -ms-transform: rotate(0.0deg);
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Status-bg {
  -ms-transform: rotate(0.0deg);
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Time {
  -ms-transform: rotate(0.0deg);
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Signal-icon {
  -ms-transform: rotate(0.0deg);
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Single-line-item_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_12 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-base_6 {
  -ms-transform: rotate(0.0deg);
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_84 {
  -ms-transform: rotate(0.0deg);
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_13 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_14 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Two-line-item_15 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_85 {
  -ms-transform: rotate(0.0deg);
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-button_descarga {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  height: 22px;
  width: 189px;
  -ms-transform: rotate(0.0deg);
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-11ebeee7-fea8-4ca8-b4b2-5678786a2496 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}