#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Header-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Status-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Signal-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Image_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}