#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Header-bg {
  -ms-transform: rotate(0.0deg);
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Status-bg {
  -ms-transform: rotate(0.0deg);
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Time {
  -ms-transform: rotate(0.0deg);
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Signal-icon {
  -ms-transform: rotate(0.0deg);
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 150px;
  width: 150px;
  -ms-transform: rotate(0.0deg);
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 150px;
  width: 150px;
  -ms-transform: rotate(0.0deg);
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Button_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 10px 10px 10px 10px;
  padding-top: 19px;
  padding-right: 19px;
  padding-bottom: 19px;
  padding-left: 19px;
  height: 122px;
  width: 122px;
  -ms-transform: rotate(0.0deg);
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Button_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 10px 10px 10px 10px;
  padding-top: 19px;
  padding-right: 19px;
  padding-bottom: 19px;
  padding-left: 19px;
  height: 122px;
  width: 122px;
  -ms-transform: rotate(0.0deg);
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Image_91 {
  -ms-transform: rotate(0.0deg);
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3bfa0370-b220-4e55-b963-25c2774919d8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}