#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Header-bg {
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Status-bg {
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Time {
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Signal-icon {
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Month-date {
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Right-arrow {
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Left_arrow {
  -ms-transform: rotate(180.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Table_1 {
  border-collapse: separate;
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Text_cell_34 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=88);
  filter: alpha(opacity=88);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Two-line-item {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Top-date {
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Two-line-item_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Image_73 {
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Button_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3d6a1acb-e733-481e-ad6c-5b25c9764c64 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}