#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-Header-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-Status-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-Time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-Signal-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-raised_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-raised_Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-Image_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-Item-row_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-date_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-star_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-Item-row_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-date_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-star_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-Item-row_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-date_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-star_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-Item-row_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-date_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-star_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57a5805d-25b7-49bf-b0fe-646d2f8b380e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}