#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Header-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Status-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Signal-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-raised_Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-raised_Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}