#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Header-bg {
  -ms-transform: rotate(0.0deg);
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Status-bg {
  -ms-transform: rotate(0.0deg);
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Time {
  -ms-transform: rotate(0.0deg);
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Signal-icon {
  -ms-transform: rotate(0.0deg);
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-raised_Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 34px;
  width: 338px;
  -ms-transform: rotate(0.0deg);
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-raised_Button_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 34px;
  width: 338px;
  -ms-transform: rotate(0.0deg);
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}