#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Empty_screen {
  position: absolute;
  width: 360px;
  height: 640px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Screen-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Screen-bg {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Screen-bg > .clipping, #s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Screen-bg > .paddingLayer {
  height: 100px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Screen-bg .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Screen-bg span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Screen-bg span#rtr-s-Screen-bg_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Softkeys-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Softkeys-bg {
  position: absolute;
  width: 0px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Softkeys-bg > .clipping, #s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Softkeys-bg > .paddingLayer {
  height: 48px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Softkeys-bg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Softkeys-bg span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Softkeys-bg span#rtr-s-Softkeys-bg_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Header-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #0076BF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Header-bg {
  position: absolute;
  width: 0px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Header-bg > .clipping, #s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Header-bg > .paddingLayer {
  height: 38px;
  width: 27px;
  padding-top: 38px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Header-bg .valign {
  vertical-align: top;
  text-align: left;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Header-bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Header-bg span#rtr-s-Header-bg_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Title > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Title {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Title > .clipping, #s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Title > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Title .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Title span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Title span#rtr-s-Title_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Status-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #222222;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Status-bg {
  position: absolute;
  width: 0px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Status-bg > .clipping, #s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Status-bg > .paddingLayer {
  height: 20px;
  width: 92px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 8px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Status-bg .valign {
  vertical-align: middle;
  text-align: right;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Status-bg span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Status-bg span#rtr-s-Status-bg_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Time > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Time {
  position: absolute;
  width: 46px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Time > .clipping, #s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Time > .paddingLayer {
  height: 20px;
  width: 41px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 5px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Time .valign {
  vertical-align: middle;
  text-align: right;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Time span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Time span#rtr-s-Time_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Signal-icon {
  position: absolute;
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Signal-icon > img, #s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Signal-icon > svg {
  height: 20px;
  width: 61px;
  box-shadow: none;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Square > svg {
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Square {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Square > img, #s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Square > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Circle > svg {
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Circle {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Circle > img, #s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Circle > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Triangle > svg {
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Triangle {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Triangle > img, #s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Triangle > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-raised_Button_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #4B96EC;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0px 2px 5px 0px #999999;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-raised_Button_3 {
  position: absolute;
  width: 340px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-raised_Button_3 > .clipping, #s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-raised_Button_3 > .paddingLayer {
  height: 34px;
  width: 338px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-raised_Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-raised_Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-raised_Button_3 span#rtr-s-raised_Button_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-raised_Button_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #4B96EC;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0px 2px 5px 0px #999999;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-raised_Button_4 {
  position: absolute;
  width: 340px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-raised_Button_4 > .clipping, #s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-raised_Button_4 > .paddingLayer {
  height: 34px;
  width: 338px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-raised_Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-raised_Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-raised_Button_4 span#rtr-s-raised_Button_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_1 > .clipping, #s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Category_1 > .dropdown-options {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  left: 0px;
  top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Category_1 {
  position: absolute;
  width: 327px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Category_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Category_1 > .paddingLayer {
  height: 20px;
  width: 327px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Category_2 {
  position: absolute;
  width: 346px;
  height: 132px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Category_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #F0EFF5;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #F0EFF5;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #F0EFF5;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #F0EFF5;
  box-shadow: none;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Category_2 > .scroll {
  height: 132px;
  width: 346px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_3 > .clipping, #s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #3CADE0;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  box-shadow: none;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_1 {
  position: absolute;
  width: 39px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_1 > .clipping, #s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_1 > .paddingLayer {
  height: 20px;
  width: 37px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #7FC2A9;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  box-shadow: none;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_2 {
  position: absolute;
  width: 42px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 1.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_2 > .clipping, #s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_2 > .paddingLayer {
  height: 20px;
  width: 40px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_2 span {
  color: rgba(0,0,0,0.0);
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 1.0pt;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_2 span#rtr-s-Button_2_0 {
  color: rgba(0,0,0,0.0);
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 1.0pt;
  line-height: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: rgba(239,179,98,0.5);
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  box-shadow: none;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_3 {
  position: absolute;
  width: 40px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 1.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_3 > .clipping, #s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_3 > .paddingLayer {
  height: 20px;
  width: 38px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_3 span {
  color: rgba(0,0,0,0.0);
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 1.0pt;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_3 span#rtr-s-Button_3_0 {
  color: rgba(0,0,0,0.0);
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 1.0pt;
  line-height: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_4 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F1646C;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  box-shadow: none;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_4 {
  position: absolute;
  width: 41px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 1.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_4 > .clipping, #s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_4 > .paddingLayer {
  height: 20px;
  width: 39px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_4 span {
  color: rgba(0,0,0,0.0);
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 1.0pt;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_4 span#rtr-s-Button_4_0 {
  color: rgba(0,0,0,0.0);
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 1.0pt;
  line-height: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_6 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #A79DB0;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  box-shadow: none;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_6 {
  position: absolute;
  width: 40px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 1.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_6 > .clipping, #s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_6 > .paddingLayer {
  height: 20px;
  width: 38px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_6 span {
  color: rgba(0,0,0,0.0);
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 1.0pt;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Button_6 span#rtr-s-Button_6_0 {
  color: rgba(0,0,0,0.0);
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 1.0pt;
  line-height: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_4 > .clipping, #s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Image_36 > svg {
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Image_36 {
  position: absolute;
  width: 30px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Image_36 > img, #s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Image_36 > svg {
  height: 29px;
  width: 30px;
  box-shadow: none;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_2 {
  position: absolute;
  width: 211px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 13.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_2 > .clipping, #s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_2 > .paddingLayer {
  height: 23px;
  width: 211px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_2 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5dfe60db-98d2-491f-b1c8-de0fc5b01ed3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}