#s-7a789a78-17c1-4f4f-8a0a-d3fed750a97b #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a789a78-17c1-4f4f-8a0a-d3fed750a97b #s-Space {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a789a78-17c1-4f4f-8a0a-d3fed750a97b #s-raised_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a789a78-17c1-4f4f-8a0a-d3fed750a97b #s-raised_Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a789a78-17c1-4f4f-8a0a-d3fed750a97b #s-raised_Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a789a78-17c1-4f4f-8a0a-d3fed750a97b #s-raised_Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a789a78-17c1-4f4f-8a0a-d3fed750a97b #s-Header-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a789a78-17c1-4f4f-8a0a-d3fed750a97b #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a789a78-17c1-4f4f-8a0a-d3fed750a97b #s-Status-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a789a78-17c1-4f4f-8a0a-d3fed750a97b #s-Time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a789a78-17c1-4f4f-8a0a-d3fed750a97b #s-Signal-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a789a78-17c1-4f4f-8a0a-d3fed750a97b #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a789a78-17c1-4f4f-8a0a-d3fed750a97b #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a789a78-17c1-4f4f-8a0a-d3fed750a97b #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a789a78-17c1-4f4f-8a0a-d3fed750a97b #s-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a789a78-17c1-4f4f-8a0a-d3fed750a97b #s-Ellipse_24 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a789a78-17c1-4f4f-8a0a-d3fed750a97b #s-plus_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a789a78-17c1-4f4f-8a0a-d3fed750a97b #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a789a78-17c1-4f4f-8a0a-d3fed750a97b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7a789a78-17c1-4f4f-8a0a-d3fed750a97b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}