#s-8851aac6-2f13-4ded-929d-866691bad8c9 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-8851aac6-2f13-4ded-929d-866691bad8c9 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-8851aac6-2f13-4ded-929d-866691bad8c9 #s-Header-bg {
  -ms-transform: rotate(0.0deg);
}
#s-8851aac6-2f13-4ded-929d-866691bad8c9 #s-Status-bg {
  -ms-transform: rotate(0.0deg);
}
#s-8851aac6-2f13-4ded-929d-866691bad8c9 #s-Time {
  -ms-transform: rotate(0.0deg);
}
#s-8851aac6-2f13-4ded-929d-866691bad8c9 #s-Signal-icon {
  -ms-transform: rotate(0.0deg);
}
#s-8851aac6-2f13-4ded-929d-866691bad8c9 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-8851aac6-2f13-4ded-929d-866691bad8c9 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-8851aac6-2f13-4ded-929d-866691bad8c9 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-8851aac6-2f13-4ded-929d-866691bad8c9 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8851aac6-2f13-4ded-929d-866691bad8c9 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 10px 10px 10px 10px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  height: 125px;
  width: 135px;
  -ms-transform: rotate(0.0deg);
}
#s-8851aac6-2f13-4ded-929d-866691bad8c9 #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 10px 10px 10px 10px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  height: 125px;
  width: 135px;
  -ms-transform: rotate(0.0deg);
}
#s-8851aac6-2f13-4ded-929d-866691bad8c9 #s-Button_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 10px 10px 10px 10px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  height: 125px;
  width: 135px;
  -ms-transform: rotate(0.0deg);
}
#s-8851aac6-2f13-4ded-929d-866691bad8c9 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-8851aac6-2f13-4ded-929d-866691bad8c9 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8851aac6-2f13-4ded-929d-866691bad8c9 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 10px 10px 10px 10px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  height: 119px;
  width: 309px;
  -ms-transform: rotate(0.0deg);
}
#s-8851aac6-2f13-4ded-929d-866691bad8c9 #s-Image_58 {
  -ms-transform: rotate(0.0deg);
}
#s-8851aac6-2f13-4ded-929d-866691bad8c9 #s-Rectangle_8 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-8851aac6-2f13-4ded-929d-866691bad8c9 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8851aac6-2f13-4ded-929d-866691bad8c9 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8851aac6-2f13-4ded-929d-866691bad8c9 #s-Button_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 10px 10px 10px 10px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  height: 125px;
  width: 135px;
  -ms-transform: rotate(0.0deg);
}
#s-8851aac6-2f13-4ded-929d-866691bad8c9 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8851aac6-2f13-4ded-929d-866691bad8c9 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8851aac6-2f13-4ded-929d-866691bad8c9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}