#s-9c63d011-1786-40d5-b7f0-e3c8ebcc4497 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-9c63d011-1786-40d5-b7f0-e3c8ebcc4497 #s-menu-icon {
  -ms-transform: rotate(0.0deg);
}
#s-9c63d011-1786-40d5-b7f0-e3c8ebcc4497 #s-refresh-icon {
  -ms-transform: rotate(0.0deg);
}
#s-9c63d011-1786-40d5-b7f0-e3c8ebcc4497 #s-more-icon {
  -ms-transform: rotate(0.0deg);
}
#s-9c63d011-1786-40d5-b7f0-e3c8ebcc4497 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-9c63d011-1786-40d5-b7f0-e3c8ebcc4497 #s-Status-bg {
  -ms-transform: rotate(0.0deg);
}
#s-9c63d011-1786-40d5-b7f0-e3c8ebcc4497 #s-Time {
  -ms-transform: rotate(0.0deg);
}
#s-9c63d011-1786-40d5-b7f0-e3c8ebcc4497 #s-Signal-icon {
  -ms-transform: rotate(0.0deg);
}
#s-9c63d011-1786-40d5-b7f0-e3c8ebcc4497 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-9c63d011-1786-40d5-b7f0-e3c8ebcc4497 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-9c63d011-1786-40d5-b7f0-e3c8ebcc4497 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-9c63d011-1786-40d5-b7f0-e3c8ebcc4497 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9c63d011-1786-40d5-b7f0-e3c8ebcc4497 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9c63d011-1786-40d5-b7f0-e3c8ebcc4497 #s-spinner-2 {
  -ms-transform: rotate(0.0deg);
}
#s-9c63d011-1786-40d5-b7f0-e3c8ebcc4497 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9c63d011-1786-40d5-b7f0-e3c8ebcc4497 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}