#s-aa93e3d6-80f5-400b-b305-9d7b09fb50c9 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa93e3d6-80f5-400b-b305-9d7b09fb50c9 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa93e3d6-80f5-400b-b305-9d7b09fb50c9 #s-Status-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa93e3d6-80f5-400b-b305-9d7b09fb50c9 #s-Time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa93e3d6-80f5-400b-b305-9d7b09fb50c9 #s-Signal-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa93e3d6-80f5-400b-b305-9d7b09fb50c9 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa93e3d6-80f5-400b-b305-9d7b09fb50c9 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa93e3d6-80f5-400b-b305-9d7b09fb50c9 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa93e3d6-80f5-400b-b305-9d7b09fb50c9 #s-Input_1 INPUT {
  font-family: Arial;
}
#s-aa93e3d6-80f5-400b-b305-9d7b09fb50c9 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa93e3d6-80f5-400b-b305-9d7b09fb50c9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa93e3d6-80f5-400b-b305-9d7b09fb50c9 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa93e3d6-80f5-400b-b305-9d7b09fb50c9 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa93e3d6-80f5-400b-b305-9d7b09fb50c9 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa93e3d6-80f5-400b-b305-9d7b09fb50c9 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa93e3d6-80f5-400b-b305-9d7b09fb50c9 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa93e3d6-80f5-400b-b305-9d7b09fb50c9 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-aa93e3d6-80f5-400b-b305-9d7b09fb50c9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}