#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Header-bg {
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Status-bg {
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Time {
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Signal-icon {
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Single-line-item {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Two-line-item_6 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-base {
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-folder {
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Two-line-item_7 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-base_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-folder_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Two-line-item_8 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-base_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-folder_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Two-line-item_9 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-base_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-folder_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Single-line-item_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Two-line-item_10 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-base_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Image_82 {
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}