#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Header-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Status-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Signal-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Single-line-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Two-line-item_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-base {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-folder {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Two-line-item_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-base_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-folder_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Two-line-item_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-base_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-folder_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Two-line-item_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-base_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-folder_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Single-line-item_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Two-line-item_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-base_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Image_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e8e717ba-b479-41c8-a46e-3e41b93aba0f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}