#t-b090e723-df9c-4b4a-967b-04a8951f4103 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-b090e723-df9c-4b4a-967b-04a8951f4103 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#t-b090e723-df9c-4b4a-967b-04a8951f4103 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}